
  <div class="banner mb-1" style="width: cover; height: 300px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://picsum.photos/1200/300);">
    <div class="container">
      <h1>Fancy Cocktails</h1>
      <%= link_to "new cocktail", new_cocktail_path, class: "btn btn-primary"; %>
    </div>
  </div>
  <div class="container" style=" padding: 16px;">
  <div class="row" style="padding: 16px;">
    <% @cocktails.each do |cocktail| %>
    <div class="col-4 my-3" style="width: 18rem;">
      <div class="card rounded">
        <img src="https://picsum.photos/200/150" class="card-img-top" alt="..." >
        <div class="description p-3 d-flex align-items-center justify-content-between ">
          <h5 class=""><%= cocktail.name %></h5>
          <%= link_to "Let's drink", cocktail, class: "btn btn-primary"%>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
