<div class="container" style="background-color: pink; padding: 24px;">
  <div class="navbar" style="justify-space-between">
    <h1>Fancy Cocktails</h1>
    <%= link_to "new cocktail", new_cocktail_path %>
  </div>
  <div class="row" style="padding: 16px;">
    <% @cocktails.each do |cocktail| %>
    <div class="col-4" style="width: 18rem;">
      <div class="card">
        <img src="https://picsum.photos/200/150" class="card-img-top" alt="...">
        <h5 class="card-title"><%= cocktail.name %></h5>
        <%= link_to "Let's drink", cocktail %>
      </div>
    </div>
    <% end %>
  </div>
</div>
