// Specific CSS for your home-page
.border {
  color: #832161;
}
h3 {
  color: #832161;
  font-weight: bold;
}
h4 {
  color: #832161;
  font-weight: bold;
}

h5 {
  color:white;
}

body {
  background-color: #1f1a19;
}
.btn {
  height: 40px;
  color: white;
  background-color: #832161;
  width: 140px;
  border-radius: 5px;
}
.btn :hover {
  height: 40px;
  color: white;
  background-color: #832161;
}
.card .btn {
  width: 120px;
}
  .banner {
    background-size: cover;
  background-position: center;
  padding: 150px 0;
   h1 {
      margin: 0;
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 15px;
      }
    .container {
      display: flex;
       flex-direction: column;
        align-items: center;

    }
  }

    .card {
      background-color: #FBEFF7;
    }
